<div class="p-5 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque omnis numquam placeat.
            Laboriosam, deserunt eius? Vitae itaque soluta consectetur quae quod ipsam dolores saepe fugit tenetur
            officia, totam reiciendis necessitatibus.</p>
        <button class="btn btn-secondary btn-lg">Button</button>
    </div>
</div>