<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Page Title</title>
</head>

<body>
    <header>
        @await Html.PartialAsync("_Navbar")
        @RenderSection("Header", false)
    </header>
    <div class="container p-3">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="py-3 my-4">
        @await Html.PartialAsync("_Footer")
    </footer>
</body>

</html>